.table-ticket-snls {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
    margin-top: 3px;
}

.table-ticket-snls thead {
    border: none;
}

.table-ticket-snls tbody {
    border: none;
}

.table-ticket-snls tr {
    border: none;
}

.table-ticket-snls th {
    border: none;
}

.table-ticket-snls td {
    border: none;
}
