.display-none {
    display: none !important;
}

.multi_currency_pos {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-evenly;
}

.multi_currency_pos .currency_rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi_currency_pos .currency_rate .currency_header {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.multi_currency_pos .currency_rate .currency_header .currency_title {
    font-size: 18px;
    padding-right: 10px;
}

.multi_currency_pos .currency_rate .currency_header .currency_title label {
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.multi_currency_pos .currency_rate .currency_header .currency_selection {
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    padding: 0 6px;
    color: #4A4F59;
    font-size: 18px;
    border: solid 1px #C9CCD2;
    transition: all 0.25s ease;
}

.multi_currency_pos .currency_rate .currency_conversion {
    font-size: 16px;
    padding: 5px;
}

.multi_currency_pos .currency_rate .currency_conversion span {
    color: #80848F;
    font-weight: 600;
}

.multi_currency_pos .currency_rate .currency_value {
    font-size: 16px;
    padding: 5px;
}

.multi_currency_pos .currency_rate .currency_value .currency_value_one {
    padding-right: 10px;
    font-weight: normal;
}

.multi_currency_pos .currency_rate .currency_value .currency_value_two {
    color: #017e84;
    font-weight: bold;
}

.multi_currency_pos .currency_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi_currency_pos .currency_button button {
    align-items: center;
    background: #624159;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
}

.div_currency_inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5em 0;
    font-size: 16px;
    background: #FFFFFF;
    margin-bottom: 4px;
}

.div_currency_inputs .div_currency_checkbox {
    display: flex;
    flex-direction: row;
}

.div_currency_inputs .div_currency_checkbox div span {
    padding-right: 5px;
}

.div_currency_inputs .div_currency_input {
    display: flex;
    flex-direction: row;
}

.div_currency_inputs .div_currency_input div span {
    padding-right: 5px;
}

.div_currency_inputs .div_currency_input div input {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    color: #4A4F59;
    border: solid 1px #C9CCD2;
    font-size: 16px;
}

.div_currency_inputs .div_currency_input div input:focus-visible {
    outline: none;
}

@media screen and (max-width: 992px) {
    .multi_currency_pos {
        flex-direction: column;
        background-color: #FFFFFF;
        padding-bottom: 15px;
    }

    .div_currency_inputs {
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
    }

    .div_currency_inputs .div_currency_checkbox {
        padding: 5px 10px;
    }

    .div_currency_inputs .div_currency_input {
        padding: 5px 10px;
    }

    .multi_currency_pos .currency_rate .currency_value .currency_value_one {
        padding-right: 4px;
        font-size: 14px;
    }

}

@media screen and (max-width: 341px) {

    .multi_currency_pos .currency_rate .currency_value .currency_value_one {
        padding-right: 4px;
        font-size: 12px;
    }

}
