.title_324{
    font-size: 17px;
    font-family: Arial;
}

.subtitle_324 {
    font-size: 15px;
    font-family: Arial;
}

.subtitle_324 .company_info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.subtitle_324 .company_info strong {
    margin-right: 5px;
    white-space: nowrap;
}

.subtitle_324 .company_info span {
    flex: 1;
}

.table_1_324 {
    float: left;
    border-collapse: collapse;
    width: 100%!important;
}

.table_1_324 .part_table th{
    border: 2px solid black;
    font-weight: lighter;
    text-align: center;
}

.table_1_324 .part_one th{
    border: 0px !important;
    padding: 5px;
}

.table_1_324 .part_tree th{
    border: 2px solid black;
    padding: 5px;
}