.ckusa_top_page {
    .ckusa_check {
        top: -0.3in;
    }
    .ckusa_stub_1 {
        top: 3.45in;
    }
    .ckusa_stub_2 {
        top: 7in;
    }

    .ckusa_check .sequence_number {
        top: 0.1in;
        left: 7.1in;
        width: 0.7in;
    }
    .ckusa_date {
        top: 0.55in;
        left: 6.51in;
        width: 1.47in;
        text-align: center;
    }
    .ckusa_payee_name {
        top: 1.09in;
        left: 0.85in;
        width: 4.0in;
        text-align: left;
    }
    .ckusa_amount {
        top: 0.96in;
        left: 6.77in;
        width: 1.08in;
        text-align: left;
    }
    .ckusa_amount_in_word {
        top: 1.45in;
        left: 0.25in;
        width: 7in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }
    .ckusa_payee_addr {
        top: 1.70in;
        left: 0.85in;
        line-height: 1.1em;
    }

}
