.serie_and_correlative_div {
    background: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 1em 0;
    border-bottom: solid 3px RGBA(222, 226, 230, var(--bg-opacity, 1));
    border-top: solid 3px RGBA(222, 226, 230, var(--bg-opacity, 1));

    .invoice_document_type_ids {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select_invoice {
        cursor: pointer;
        background-color: #FFFFFF;
        width: 90%;
        outline: 0;
        padding: 0.5em;
        color: #4A4F59;
        font-size: 14px;
        border: solid 2px RGBA(222, 226, 230, var(--bg-opacity, 1));
        transition: all 0.25s ease;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus-visible {
            outline: none;
        }
    }
}