.pos-kitchen-receipt {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.pos-kitchen-receipt .pos-kitchen-receipt-header {
    margin-bottom: 10px;
    text-align: center;
}

.pos-kitchen-receipt .pos-kitchen-receipt-order-number {
    font-size: 10px;
    font-weight: bold;
    color: #374151;
}

.pos-kitchen-receipt .pos-kitchen-receipt-datetime {
    margin-top: 3px;
    font-size: 10px;
    font-weight: bold;
    color: #374151;
}

.pos-kitchen-receipt .pos-kitchen-receipt-location {
    font-size: 12px;
    text-align: left;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table,
.pos-kitchen-receipt .pos-kitchen-receipt-floor {
    font-size: 12px;
    color: #374151;
    text-align: left;
}

.pos-kitchen-receipt .pos-kitchen-receipt-cashier {
    font-size: 12px;
    color: #374151;
    text-align: left;
}

.pos-kitchen-receipt .pos-kitchen-receipt-title {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.pos-kitchen-receipt .pos-kitchen-receipt-cancel {
    margin-top: 10px;
    color: red;
}

.pos-kitchen-receipt .pos-kitchen-receipt-new {
    margin-top: 10px;
    color: green;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-detail {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-detail thead tr {
    border-bottom: solid 1px rgb(209, 209, 209);
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-detail th {
    padding-bottom: 3px;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-detail td {
    padding: 3px 0;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-product {
    width: 70%;
    font-weight: bold;
    text-align: left;
}

.pos-kitchen-receipt .pos-kitchen-receipt-table-quantity {
    width: 30%;
    font-weight: bold;
    text-align: right;
}

.pos-kitchen-receipt .pos-kitchen-receipt-product-name {
    width: 70%;
    text-align: left;
}

.pos-kitchen-receipt .pos-kitchen-receipt-product-quantity {
    width: 30%;
    text-align: right;
}

.pos-kitchen-receipt .pos-kitchen-receipt-product-note {
    font-size: 11px;
    font-style: italic;
}

